.card{
    border: 1px solid black;
    width:150px;
    height:300px;
    float:left;
}

h1{
    padding-left:30px;
    padding-right:30px;
}
.playerCash{
    float:right;
}
.currentBet{
    float:right;
    margin-right:30px;
}
.card:nth-child(1){
    margin-right:20px;
}

.overlay {
/*
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
*/
    display: none;
}

.btn{
    width: 100px;
    height:100px;
    margin-bottom: 20px;
}

#betAmount{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}