#header{
    width:100%;
    height: 89px;
    background-color: #ffffff;
    vertical-align: middle;
    color: #515862;
    font: 400 14px Ubuntu;
}
.noMargin{
    margin:0px;
}

.noPadding{
    padding:0px;
}

.fullWidth{
    width:100%;
}

#logo{
    float:left;
    margin-left: 186px;
    margin-top: 32px;
}


.container{
    width:100%;
}

nav ul{
    list-style: none;
    float:left;
}
nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a:link,nav ul li a:visited,nav ul li a:active{
    position: relative;
    display: table;
    float:left;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #515862;
    font-weight: 700;
    padding-left:20px;
    padding-right:20px;
}





nav ul li a:hover{
    background-color:rgba(0, 128, 183, 0.6);
    background-image:url(images/triangle.png);
    background-position:center bottom;
    background-repeat: no-repeat no-repeat;
    text-decoration: none;
    color:#fff; 
    border-bottom: 5px solid #0080b7;
}


nav ul li:nth-last-child(1) a:link{
/*    background-color:#000;*/
    display: inline;
    height: 25px;
}
nav ul li:nth-last-child(1) a:hover{
    background-image: none;
    background-color:none;
    border-bottom: none;
}


nav ul li a div{
    display:table-cell;
    vertical-align: middle;
}


a:link.blog-button,
a:visited.blog-button,
a:active.blog-button
{
    display: inline;
    background-color:#f98561;
    color:#fff;
    max-height: 25px;
    min-width: 66px;
    margin-top:-52px;
    padding-left:20px;
    padding-top:2px;
    padding-right:20px;
    border-radius: 5px;
}

/*=============== menu top end *===================*/
/*===== search button begin ==============*/
#search-box{
    position:relative;
    float:left;
    padding-top:28px;
    margin-left:50px;
    overflow:visible;
    min-width: 100px;
    transition-property: width;
    transition-duration: 1s;
}

#search-input{
    border:none;
    width:50px;
    float:left;
    transition-property: width;
    transition-duration: 1s;
}

input#search-input,
input:focus#search-input
{
    color: #515862;
/*    border:1px solid #515862;*/
/*    border-radius: 5px;*/
}

#search-button{
    float:left;
    display: block;
    background-color: #f98561;
    padding:10px;
    width:40px;
    border-radius: 25px;
    margin-top:-10px;
    margin-left:5px;
    
}

.search-box-active{
    width:200px;
}
.search-input-active{
    width:150px !important;
}
.search-button-active{
    
}
/*===== search button end ==============*/
/*===== slider begin ===================*/
.carousel-control.left, .carousel-control.right{
    background-image:none !important;
}

.slider-item{
    position:relative;
    text-align: center;
}

.slider-item .slider-inner{
    position:absolute;
    top:110px;
    width:100%;
    margin:0 auto;
    color: #cccece;
    text-align: center;
}
.slider-item .slider-inner h2{
    text-transform: uppercase;
    margin: 0 auto;
    color: #cccece;
    font: 400 60px Bebas    ;
}
.slider-item .slider-inner h2,
.slider-item .slider-inner p{
    text-align: center;
}

.slider-item > .slider-inner > button{
    background-color:#f98561;
    color:#fff;
    min-width: 66px;
    padding-left:20px;
    padding-top:2px;
    padding-right:20px;
    border:none;
    border-shadow:none;
    border-radius: 5px;
    font-size:20pt;
    margin-top:40px;

}

.carousel-indicators.top-slider{
    left:80%;
}

.carousel-indicators li{
    background-color:#cccece;
    border:none;
}

.carousel-indicators li.active{
    background-color:#12a3d6;
    
    border: 3px solid #f98561;
    border-shadow:none;
}


/*===== slider end ===================*/

/*=========== our services begin ======*/
.top-mark{
    position:relative;
    margin:0 auto;
}

.top-mark > .scaffold{
    position: relative;
    width:146px;
    margin:0 auto;
}

.top-mark > .scaffold > .box{
    position:absolute;
    top:-17px;
    width: 146px;
    background-color: #12a3d6;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    height: 35px;
    
}

.services{
    text-align: center;
    padding-top:40px;
}
/*=========== our services end ======*/


