.col-md-4{
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
    height:100px;
    line-height: 100px;
    font-size: 20pt;
}

.nb-t{
    border-top:0;
}

.nb-r{
    border-right: 0;
}
.hidden-reset{
    float:right;
    display:none;
}