body{
    background-color: black;
}
#question_container{
    background-image:url('img/question.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:100px;
    width:100%;
    
    color:white;
    text-align: center;
    margin:auto;
    line-height: 75px;
}

.less-padding-15-left{
    
    padding-left:0px;
}

.margin_top_minus_px{
    margin-top:-1px;
}
.less-padding-15-right{
    padding-right:0px;
}

.answer_container_left, .answer_container_right{
    background-size: contain;
    background-repeat: no-repeat;
    height:50px;
    width:100%;
    
    color:white;
    text-align: center;
    margin:auto;
    line-height: 30px;
}
.answer_container_left{
    background-image:url('img/answer-left.png');
}

.answer_container_right{
    background-image:url('img/answer-right.png');
}