.wordCount {
	letter-spacing: 10pt;
	font-size: 50pt;
}

.letter{
    padding:10px;
    margin:10px;
    width:50px;
    height:50px;
    border-radius: 5px;
}
.alphabet{
    padding:30px;
}
.center_box{
    margin: 25% auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}