body{
    background-color: #f3f2ed;
}

#top-bar{
    width: 100%;
    height: 88px;
    background-color: rgba(0, 0, 0, 0.08);
}

#header{
    width: 600px;
    background-color: #343538;
    height: 88px;
    margin:0 auto;
    padding 0 auto;
}

#header h1{
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin:25px;
    float: left;
}
#header p{
    color: #b3b3b3;
    font: 400 13px / 18px Helvetica;
    font-weight: 1200;
    float: right;
    margin-top:48px;
    margin-right:25px;

}

#header p a{
    color: #ffffff;
    font: 400 13px / 18px Helvetica;
    text-decoration: none;
}

#main-wrapper{
    width: 600px;
    margin: 0 auto;
}

.container{
    width: 600px;
}

.topRow{
    background-color:#fff;
}
.myRow{
    background-color: #ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

.noMargins{
    margin:0px;
}
.noPadding{
    padding:0px;
}

.row p{
    color:#a7a7a7;
}


.my-btn{
    background-color: #343538;
    border-radius: 20px;
    border:0px;
    font-family: 'Helvetica';
    color: #fff;
    height: 36px;
    min-width: 100px;
    padding:0px 20px;
        
}

.tile-container{
    padding:20px;
}
.tile-container h3{
    margin-bottom:15px;
}
.tile-container p{
    margin-top:15px;
    margin-bottom:15px;
    font: 500 14px / 22px Helvetica;
}
.tile-container button{
    margin-top:15px;
}
.tile-container img{
    margin: 0 auto;
}

.centered, img.centered{
    text-align: center;
}
.img-tile{
    padding:0px;
}

.adSpace-600x120{
    background-color: #343538;
    width: 600px;
    height: 120px;
    color: #FFF;
}
.adSpace-600x120 .ad-msg{
    text-align: center;
    margin:40px auto;
}
.adSpace-600x120 h3{
    margin-top:10px;
    margin:0px auto;
}

.img-centered{
    margin:0 auto;
}
.img-centered img{
    padding: 0px 60px;
}