html, body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-offset-left{
}
.header {
    height: 83px;
    background: url(images/header-bg.png);
    border-bottom: 4px solid #242424;
    colo
}

img.logo {
    padding-top: 24px;
    padding-left: 135px;
    float: left;
}

img.logo:link, img.logo:hover {
    border: 0;
}

h3 {
    color: #464646;
    font: 700 14px "Helvetica";
    
}

hr.spacer {
    background: url(images/Line.png);
    height: 6px;
}

hr.footer-delimiter{
    background: url(images/hr.png);
    height: 1px;
}

.footer {
    background: url(images/header-bg-copy.png);
    max-height: 348px;
    color: white;
    border-top:3px solid #242424;
}

.footer > .col-md-3 > h3 {
    color: #ffffff;
    font: 700 16px / 14px "Helvetica";
}

.footer > .col-md-3 > p {
    color: #ffffff;
    font: 400 12px / 14px "Helvetica";
}

.searchBox {
    box-shadow: 0px 1px 0px 0.00px rgba(46, 46, 46, 0.6);
    background-color: #2f2f2f; 
    width: 150px;
    height: 25px;
    border-radius: 10px;
    color: #eee;
    border: 1px solid #464646;
    background-image: url(images/mag-glass.png);
    background-repeat: no-repeat no-repeat;
    background-position: 5px 5px;
    padding-left: 25px;
    margin-top: 30px;
}

:focus {
    outline: none;
}

nav {
    float: left;
    margin-top: 30px;
    min-width: 650px;
}

nav > ul > li {
    display: inline;
    color: #e8e8e8;
    font: 700 12px / 21px "Helvetica";
}

nav > ul > li:after {
    content: " ";
    width: 1px;
    background: url(images/left-copy-3.png);
}

nav > ul > li > a {
    color: #e8e8e8;
    font-weight: 700;
    font: 700 12px / 21px "Helvetica";
    padding: 10px 20px;
}

nav > ul > li > a:hover {
    color: #eee;
    font: 700 12px / 21px "Helvetica";
    text-decoration: none;
    background-color: #3e3e3e;
    border:1px solid black;
    padding: 9px 19px;
    border-radius: 10px;
}

.twitterName, .timer {
    font: 400 12px / 14px "Helvetica";
    color: #999999;
}

.twitterName:before {
    content: "@";
    color: white;
}

.flicker-widget{
    padding-left:5px;
}
.smallFooterImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url(images/img.png);
}
.smallFooterImg:nth-child(4n+0){
    margin-right:0px;
}

.smallFooterImg:hover {
    border: 2px solid white;
    cursor: pointer;
}


/* styles for the bottom part of the footer */
footer{
    background: rgba(0,0,0,0.1);
    width: 1200px;
    height: 72px;
    clear:both;
}

footer  p{
    color: #818181;
    font: 400 12px / 14px HelveticaNeue;
    font-family: Helvetica;
}

.logo-footer{
/*    display: table;*/
    height:34px;
/*    margin-top:20px;*/
    margin-left:127px;
    float:left;
    padding:10px;
    border-right: 1px solid linear-gradient(grey, black, grey);
}
.logo-footer > img{
    margin-top:10px;
}
.logo-footer:after{
    content: '\00a0';
    min-width: 2px;
    display: inline-block;
    height: 34px;
    margin-left:10px;
    background:url(sep.png);
}
.footer-copyright{
    float:right;
    margin-right:151px ;
    margin-top:20px;
}

.footer-text{
    float:left;
}

.footer-text{
/*    text-align: center;*/
    vertical-align: middle;
    margin-top:20px;
    
}

.highlight{
    color: #b2b2b2;
}

.left-offset{
    margin-left: 127px;
}

.footer-column{
    width:240px;
}
.black-bar-bottom, .black-bar-top{
    background: url(top-border-copy.png);
    width: 1200px;
    height: 4px;
}

.black-bar-top{
    clear: both;
    bottom: 0px;
    margin-top:80px;
}

.active{
/*    box-shadow: 0px 1px 0px 0.00px rgba(46, 46, 46, 0.6) inset;*/
      box-shadow: 1px 1px 10px 1.00px black inset;
    background-color: #2f2f2f; 
    border-radius: 5px;
/*    border: 1px solid #464646;*/
}

a.active:hover{
      box-shadow: 1px 1px 1px 1.00px black inset;
    background-color: #2f2f2f; 
    border-radius: 5px;
}
