
.table-wrapper{
    display: table;
    width:100%;
}
#alert-wrapper{
    display: table;
    width:100%;
}
#alert-box{
    width:50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.alert{
    margin:20 auto;
    width:50%;
}
.setup-button-wrapper{
    margin-top: 15px;
}
#header{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#settings{
 display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#controls,#endgame-controls{
    display: none;
    text-align: center;
    vertical-align: middle;
}

#output{
    display:block;
}
