body{
    background: url(images/Background.png);
    
}
.container{
    width: 1200px;  
}
#header{
    background: url(images/header-bg.png);
    width: 100%;
    height: 83px;
}

#header{
}


nav {
    float:left;
    margin-top:30px;
    
}
nav > ul{
    list-style: none;
    width:100%;
}

nav > ul >li{
    display: inline !important;
    color: #e8e8e8;
/*    font: 700 12px / 21px HelveticaNeue;*/
}
nav >ul>li::after{
    content: " ";
    margin-left:20px;
    margin-right: 20px;
    background:url(images/left-copy-5.png);
        
}
nav > ul >li:nth-last-child(1)::after{
    content: " ";
    margin-left: 20px;
    margin-right: 20px;
}
nav > ul > li > a{
    color: #e8e8e8;
/*    font: 700 12px / 21px HelveticaNeue;*/
}

nav > ul > li > a::active{class="searchBox"
    background: url(images/btn.png);
}



#logo{
    color: #e0e0e0;
    font: 400 36px BallparkWeiner;
    padding-top: 24px;
    padding-left: 135px;
    float:left;
    display: block;
}

.delimiter-long{
    background: url(images/Line.png);
    height: 6px;
}

input.searchBox{
    box-shadow: 0px 1px 0px 0.00px rgba(46, 46, 46, 0.6);
    background-color: #2f2f2f !important;
    border: #2f2f2f;
    border-radius: 10px;
    background: url(images/mag-glass.png);
    background-position: 5px 5px;
    background-repeat: no-repeat no-repeat;
    width: 150px;
    height: 25px;
    color: #eee;
    padding-left: 25px;
    
}
:focus{
    outline: none;
}